{extend name="$lake_admin_layout"/}

{block name="main"}
<div class="layui-card">
    <div class="layui-card-header layui-bg-cyan">菜单列表</div>
    <div class="layui-card-body">
        <form class="layui-form form-horizontal" action="{:url('format')}" method="post">
            <input type="hidden" name="rules" value="" />
            
            <div class="layui-form-item">
                <label class="layui-form-label">菜单</label>
                <div class="layui-input-block">
                    <div class="lake-admin-auth-manager-access left">
                        <div style="margin-left: 5px;margin-top:5px; padding: 0;">
                            <a href="javascript:;" title="全部展开、折叠 ">
                                <span class="button ico_open"></span>
                                <span id="expandAll" data-open="true">全部展开、折叠 </span>
                            </a> 
                        </div>
                        <div id="menuTree"></div>
                    </div>
                </div>
            </div>
            
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <a href="javascript:;" class="layui-btn ajax-post" lay-submit="" lay-filter="*" target-form="form-horizontal">查看配置</a>
                </div>
            </div>
        </form>
    </div>
</div>
{/block}

{block name="layui"}{/block}

{block name="script"}
<script>
layui.config({
    base: "admin/libs/layui-extend/"
}).use(['jquery', 'tree', 'utils'], function() {
    var $ = layui.$;
    var tree = layui.tree;
    var utils = layui.utils;
    var getLayuiTreeCheckedIds = utils.getLayuiTreeCheckedIds;
    
    // 节点数据
    var data = {:json_encode($json)};
    
    tree.render({
        elem: '#menuTree',
        data: data,
        showCheckbox: true,  //是否显示复选框,
        id: 'menuTreeId',
        isJump: false,
        click: function(obj){
        }
    });
    
    $("#expandAll").click(function() {
        if ($(this).data("open")) {
            $('.layui-tree-setHide').find('.layui-tree-iconClick').trigger('click');
            $(this).data("open", false);
        } else {
            $('.layui-tree-spread').find('.layui-tree-iconClick').trigger('click');
            $(this).data("open", true);
        }
    });

    layui.use(['layer', 'form', 'utils'], function() {
        var layer = layui.layer,
            form = layui.form,
            utils = layui.utils;
            
        //通用表单post提交
        $('.ajax-post').on('click', function(e) {
            e.preventDefault;
            e.stopPropagation();
        
            var target, query, _form;
            var target_form = $(this).attr('target-form');
            var that = this;
            var nead_confirm = false;

            _form = $('.' + target_form);
            //处理被选中的数据
            _form.find('input[name="rules"]').val("");
            
            var checkedData = tree.getChecked('menuTreeId'); //获取选中节点的数据
            var str = getLayuiTreeCheckedIds(checkedData);
            
            _form.find('input[name="rules"]').val(str);

            if ($(this).attr('url') !== undefined) {
                target = $(this).attr('url');
            } else {
                target = _form.attr("action");
            }
            query = _form.serialize();

            $.post(target, query).success(function(data) {
                var tpl = '\
                <div class="layui-card">\
                    <div class="layui-card-body">\
                        <div class="layui-form-item">\
                            <div class="layui-form-field-label">\
                                <textarea name="menus" style="height: 350px;" class="layui-textarea">[MENUS]</textarea>\
                            </div>\
                        </div>\
                    </div>\
                </div>\
                ';
                
                if (data.code == 1) {
                    tpl = tpl.replace(/\[MENUS\]/, data.data);
                    layer.open({ 
                        type: 1, 
                        title: '菜单配置', 
                        content: tpl, 
                        area: ['100%', '100%'], 
                    });
                } else {
                    layer.alert(data.msg);
                }
                
                return false;
            });
        });
    });
});
</script>
{/block}
